{% load static i18n compress %}

<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container">
    <!-- Brand -->
    <a class="navbar-brand" href="{% url 'home' %}">
      <img src="{% static "images/brand.png" %}" class="navbar-brand-img"
           alt="The Walkup Effect">
    </a>

    <!-- Toggler -->
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <!-- Toggler -->
      <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarCollapse"
          aria-controls="navbarCollapse"
          aria-expanded="false"
          aria-label="Toggle navigation"
      >
        <i class="fe fe-x"></i>
      </button>
      <!-- Navigation -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a
              class="nav-link dropdown-toggle"
              id="navbarLandings"
              data-toggle="dropdown"
              href="#"
              aria-haspopup="true"
              aria-expanded="false"
          >
            Learn More
          </a>
          <div
              class="dropdown-menu dropdown-menu-xl p-0"
              aria-labelledby="navbarLandings"
          >
            <div class="row no-gutters">
              <div class="col-12 col-lg-6">
                <div
                    class="dropdown-img-left"
                    style="background-image: url({% static "images/photos/photo-3.jpg" %});"
                >
                  <!-- Heading -->
                  <h4 class="font-weight-bold text-white mb-4">
                    Want to learn more?
                  </h4>
                  <!-- Button  -->
                  <a
                      href="{% url 'about' %}"
                      class="btn btn-sm btn-white shadow-dark font-size-sm"
                  >
                    About Us
                  </a>
                </div>
              </div>
              <div class="col-12 col-lg-6">
                <div class="dropdown-body">
                  <div class="row no-gutters">
                    <div class="col-6">
                      <!-- Heading -->
                      <h6 class="dropdown-header">
                        Services
                      </h6>

                      <!-- List -->
                      <a class="dropdown-item" href="#">
                        Coworking
                      </a>
                      <a class="dropdown-item" href="#">
                        Rental
                      </a>
                      <a class="dropdown-item mb-5" href="#">
                        Job Listing
                      </a>

                      <!-- Heading -->
                      <h6 class="dropdown-header">
                        Apps
                      </h6>

                      <!-- List -->
                      <a
                          class="dropdown-item"
                          href="#"
                      >
                        Desktop
                      </a>
                      <a class="dropdown-item" href="#">
                        Mobile
                      </a>
                    </div>
                    <div class="col-6">
                      <!-- Heading -->
                      <h6 class="dropdown-header">
                        Web
                      </h6>

                      <!-- List -->
                      <a class="dropdown-item" href="#">
                        Basic
                      </a>
                      <a class="dropdown-item" href="#">
                        Startup
                        <span class="h6 text-uppercase text-primary"
                        >(new)</span
                        >
                      </a>
                      <a class="dropdown-item" href="#">
                        Enterprise
                      </a>
                      <a class="dropdown-item" href="#">
                        Service
                      </a>
                    </div>
                  </div>
                  <!-- / .row -->
                </div>
              </div>
            </div>
            <!-- / .row -->

          </div>
        </li>
        <li class="nav-item dropdown">
          <a
              class="nav-link dropdown-toggle"
              id="navbarAccount"
              data-toggle="dropdown"
              href="#"
              aria-haspopup="true"
              aria-expanded="false"
          >
            Account
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarAccount">
            {% if request.user.is_authenticated %}
              <!-- Settings -->
              <li class="dropdown-item dropright">
                <a
                    class="dropdown-link dropdown-toggle"
                    data-toggle="dropdown"
                    href="#"
                >
                  Settings
                  <span
                      class="h6 text-uppercase text-primary align-self-center ml-1 mb-0"
                  >(new)</span
                  >
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">
                    General
                  </a>
                </div>
              </li>
              <!-- Sign Out -->
              <li class="dropdown-item">
                <a
                    class="dropdown-link"
                    href="{% url 'account_logout' %}"
                >
                  {% trans "Sign Out" %}
                </a>
              </li>
            {% else %}
              <li class="dropdown-item">
                <a
                    id="log-in-link"
                    class="dropdown-link"
                    href="{% url 'account_login' %}"
                >
                  {% trans "Sign In" %}
                </a>
              </li>
              <!-- Sign Up -->
              <li class="dropdown-item">
                <a id="sign-up-link"
                   class="dropdown-link"
                   href="{% url 'account_signup' %}"
                >
                  {% trans "Sign Up" %}
                </a>
              </li>
            {% endif %}
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Take a Look</a>
        </li>
      </ul>
      {% if request.user.is_authenticated %}
        <!-- Button -->
        <a
            class="navbar-btn btn btn-sm btn-primary lift ml-auto"
            href="{% url 'users:detail' request.user.username %}"
        >
          {% trans "My Profile" %}
        </a>
      {% endif %}
    </div>

  </div>
</nav>
