{% extends "base.html" %}
{% load static i18n compress %}

{% block content %}

<section class="pt-8 pt-md-11">
  <div class="container">
    <div class="row align-items-center justify-content-between mb-8 mb-md-11">
      <div class="col-12 col-md-6 order-md-2" data-aos="fade-left">
        <!-- Heading -->
        <h2>
          Hella hoodie flannel next level <br />
          <span class="text-primary"
            >Green juice kombucha
            <span
              data-toggle="typed"
              data-options='{"strings": ["", "la croix.", "bushwick.", "beer."]}'
            >
            </span>
          </span>
        </h2>
        <!-- Text -->
        <p class="font-size-lg text-muted mb-6">
          I'm baby kogi humblebrag asymmetrical kale chips vaporware chillwave
          pinterest hoodie. Kogi fam kickstarter kale chips microdosing. XOXO
          fam food truck man braid lo-fi authentic hoodie blue bottle austin
          VHS. Succulents poke church-key brooklyn chambray post-ironic.
        </p>
        <!-- List -->
        <div class="row">
          <div class="col-12 col-lg-6">
            <!-- Item -->
            <div class="d-flex">
              <!-- Check -->
              <div
                class="badge badge-rounded-circle badge-primary-soft mt-1 mr-4"
              >
                <i class="fe fe-check"></i>
              </div>
              <!-- Text -->
              <p class="text-primary">
                Flexitarian
              </p>
            </div>
            <!-- Item -->
            <div class="d-flex">
              <!-- Check -->
              <div
                class="badge badge-rounded-circle badge-primary-soft mt-1 mr-4"
              >
                <i class="fe fe-check"></i>
              </div>
              <p class="text-primary mb-lg-0">
                Lumbersexual
              </p>
            </div>
          </div>
          <div class="col-12 col-lg-6 mb-6 mb-md-0">
            <!-- Item -->
            <div class="d-flex">
              <!-- Check -->
              <span
                class="badge badge-rounded-circle badge-primary-soft mt-1 mr-4"
              >
                <i class="fe fe-check"></i>
              </span>
              <!-- Text -->
              <p class="text-primary">
                Organic Chia Cliche
              </p>
            </div>
            <!-- Item -->
            <div class="d-flex">
              <!-- Check -->
              <div
                class="badge badge-rounded-circle badge-primary-soft mr-1 mr-4"
              >
                <i class="fe fe-check"></i>
              </div>

              <!-- Text -->
              <p class="text-primary mb-0">
                Craft Beer
              </p>
            </div>
          </div>
        </div>
        <!-- / .row -->
      </div>
      <div class="col-12 col-md-6 col-lg-5 order-md-1" data-aos="fade-right">
        <!-- Card -->
        {% include 'payments/payment_form.html' %}
      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container -->
</section>

{% endblock content %}
