{% extends "base.html" %}
{% load static i18n compress %}

{% block content %}

<section class="py-8 py-md-11 border-bottom">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 text-center">
        <!-- Heading -->
        <h1 class="display-2">
          Thank you!
        </h1>
        <hr />
        <p class="lead text-muted mb-7 mb-md-9">
          Your donation has successfully been completed.
        </p>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
