//
// user.scss
// Use this to write your custom SCSS
//

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */


$stripe-red: #fa755a !default;
$stripe-off-white: #fefde5 !important;

.StripeElement {
  box-sizing: border-box;
  height: calc(1.6em + 1.625rem + 2px);
  padding: $input-btn-padding-x $input-btn-padding-y;
  border: 1px solid $gray-200;
  border-radius: 0.375rem;
  background-color: $white;
  box-shadow: none;
}

.StripeElement--focus {
  box-shadow: none;
  border: 1px solid $primary-desat;
}

.StripeElement--invalid {
  border-color: $stripe-red;
}

.StripeElement--webkit-autofill {
  background-color: $stripe-off-white;
}

.ElementsApp input {
  text-align: center;
}
// End of Stripe Elements

// Custom Created Elements
.navbar-bottom-border {
  border-bottom: 0.0025rem solid $gray-100;
}

// Custom Background Variables
.bg-gray-100 {
  background-color: $gray-100
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
}
