//
// user-variables.scss
// Use this to overwrite Bootstrap and Landkit variables
//


// Color system overrides

// tints of #00e14 -> https://www.color-hex.com/color/000e14
$white: #ffffff !default;
$gray-100: #e5e6e7 !default;
$gray-200: #ccced0 !default;
$gray-300: #b2b6b8 !default;
$gray-400: #999ea1 !default;
$gray-500: #7f8689 !default;
$gray-600: #666e72 !default;
$gray-700: #4c565a !default;
$gray-800: #323e42 !default;
$gray-900: #19262b !default;
$black: #000e14 !default;

// Colors
$primary: #008ecc !default;
$secondary: $gray-700 !default;
$primary-desat: #00a0e6 !default;
$light: $gray-100 !default;
$dark: $gray-900 !default;

$input-placeholder-color: $gray-300 !default;
