{% load static i18n compress %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- prettier-ignore -->
    <title>
      {% block title %}Walkup Effect{% endblock title %}
    </title>
    {% include "partials/head.html" %}
  </head>
  <body>
    <!-- NAVBAR
     ================================================== -->
    <div>{% include 'partials/navbar.html' %}</div>

    <!-- MESSAGE ALERTS
     ================================================== -->
    <!-- prettier-ignore -->
    <div class="#">
      {% if messages %}
        {% for message in messages %}
          <div
            class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}"
          >
            {{ message }}
            <button
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>>
        {% endfor %}
      {% endif %}

     <!-- MAIN CONTENT
       ================================================== -->
      {% block content %} {% endblock content %}
    </div>
    <!-- /container -->

    <!-- FOOTER -->
    {% include "partials/footer.html" %}

    <!-- MODALS  -->
    {% block modal %} {% endblock modal %}

    <!-- Le javascript -->
    <!-- prettier-ignore -->
    <div>
      {% block javascript %}
        <!-- Your stuff: Third-party javascript libraries go here -->
        <script src="https://js.stripe.com/v3/"></script>
        {% include "partials/scripts.html" %}

        {% compress js %}
          <script src="{% static 'js/project.js' %}"></script>
          <script src="{% static 'js/payments/stripe.js' %}"></script>
        {% endcompress %}
      {% endblock javascript %}
    </div>
  </body>
</html>
