{% extends "base.html" %}
{% load static i18n compress %}


{% block content %}
   <!-- WELCOME
   ================================================== -->
  <section class="py-8 py-md-11 border-bottom">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 text-center">
          <!-- Heading -->
          <h1 class="display-2">
            Small team. Big hearts.
          </h1>
          <!-- Text -->
          <p class="lead text-muted mb-7 mb-md-9">
            Our focus is always on finding the best people to work with.
            Our bar is high, but you look ready to take on the challenge.
          </p>
        </div>
      </div>
      <!-- / .row -->
      <div class="row">
        <div class="col-12">
          <!-- Image -->
          <div class="form-row">
            <div class="col-4">
              <img src="{% static 'images/photos/photo-16.jpg' %}"
                   class="img-fluid rounded shadow-lg" alt="...">
            </div>
            <div class="col-3">
              <img src="{% static 'images/photos/photo-17.jpg' %}"
                   class="img-fluid rounded shadow-lg mb-4" alt="...">
              <img src="{% static 'images/photos/photo-18.jpg' %}"
                   class="img-fluid rounded shadow-lg mt-1" alt="...">
            </div>
            <div class="col-5">
              <div class="form-row mb-4">
                <div class="col-5">
                  <img src="{% static 'images/photos/photo-19.jpg' %}"
                       class="img-fluid rounded shadow-lg" alt="...">
                </div>
                <div class="col-7">
                  <img src="{% static 'images/photos/photo-20.jpg' %}"
                       class="img-fluid rounded shadow-lg" alt="...">
                </div>
              </div>
              <!-- / .row -->
              <img src="{% static 'images/photos/photo-21.jpg' %}"
                   class="img-fluid rounded shadow-lg mt-1" alt="...">
            </div>
          </div>
        </div>
      </div>
      <!-- / .row -->
    </div>
    <!-- / .container -->
  </section>

<section class="py-8 py-md-11 border-bottom">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 text-center">
        <h6 class="text-uppercase text-primary" data-aos="fade-up">
          The Walk-Up Effect
        </h6>
        <h1
          class="pb-3 display-2 font-weight-bold"
          data-aos="fade-up"
          data-aos-delay="50"
        >
          Its Though To Judge Someone When You Know
          <span class="text-primary">Their Story</span>
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12" data-aos="fade-up" data-aos-delay="200">
        <div class="embed-responsive embed-responsive-16by9">
          <!-- prettier-ignore -->
          <video
            class="embed-responsive-item rounded-lg bg-light shadow-lg"
            src="{% static 'video/video-1.mp4' %}"
            autoplay
            loop
            muted
          >
            Sorry, your browser doesn't support embedded videos, but don't
            worry, you can
            <a href="{% static 'video/video-1.mp4' %}">download it</a>
            and watch it with your favorite video player!
          </video>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="position-relative mt-n12 mt-md-n15">
  <div class="shape shape-bottom shape-fluid-x svg-shim text-black">
    <!-- prettier-ignore -->
    <img src="{% static 'images/shapes/angles/angle-bottom.svg' %}" alt="." />
  </div>
</div>

<!-- STEPS
  ================================================== -->
<div class="section bg-black pt-12 pt-md-15 pb-8 pb-md-11">
  <div class="container">
    <div class="row justify-content-between align-items-center mb-5">
      <!-- prettier-ignore -->
      <div class="col-12 col-md-4 order-md-2 text-center">
        <img
          class="img-fluid w-75 w-md-100 mb-6 mb-md-0"
          src="{% static 'images/illustrations/team-spirit.svg' %}"
          alt="..."
        />
      </div>
      <div class="col-12 col-md-7 order-md-1">
        <h2 class="text-white" style="max-width: 450px">
          Let's Talk, Let's Do, Let's Listen
        </h2>
        <div class="lead text-muted-80 mb-0">
          Once you provide us with your company’s basic information, we handle
          the remainder of the process without questions.
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-4">
        <div class="row">
          <div class="col-auto col-md-12">
            <!-- Step -->
            <div class="row no-gutters align-items-center mb-md-5">
              <div class="col-auto">
                <!-- Number -->
                <a
                  class="btn btn-sm btn-rounded-circle btn-gray-400-10 disabled opacity-1"
                  href="#"
                >
                  <span>1</span>
                </a>

              </div>
              <div class="col">
                <!-- Divider -->
                <hr class="d-none d-md-block border-gray-900-50 mr-n7" />
              </div>
            </div>
          </div>
          <div class="col col-md-12 ml-n5 ml-md-0">
            <h3 class="text-white">All School Assembly</h3>
            <p class="text-muted-80 mb-6 mb-md-0">
              Lets start this off with a powerful, inspirational, and
              motivational assembly that gives the students a look into the next
              two weeks!
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="row">
          <div class="col-auto col-md-12">
            <!-- Step -->
            <div class="row no-gutters align-items-center mb-md-5">
              <div class="col-auto">
                <!-- Number -->
                <a
                  href="#"
                  class="btn btn-sm btn-rounded-circle btn-gray-400-10 disabled opacity-1"
                >
                  <span>2</span>
                </a>
              </div>
              <div class="col">
                <!-- Divider -->
                <hr class="d-none d-md-block border-gray-900-50 mr-n7" />
              </div>
            </div>
          </div>
          <div class="col col-md-12 ml-n5 ml-md-0">
            <h3 class="text-white">Action Days</h3>
            <p class="text-muted-80 mb-6 mb-md-0">
              Time to change some lives! We have six days to demonstrate the six
              walk-up steps and inspire the students to do their part in making
              an impact!
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="row">
          <div class="col-auto col-md-12">
            <!-- Step -->
            <div class="row no-gutters align-items-center mb-md-5">
              <div class="col-auto">
                <!-- Number -->
                <a
                  href="#"
                  class="btn btn-sm btn-rounded-circle btn-gray-400-10 disabled opacity-1"
                >
                  <span>3</span>
                </a>
              </div>
            </div>
          </div>
          <div class="col col-md-12 ml-n5 ml-md-0">
            <h3 class="text-white">Round Up</h3>
            <p class="text-muted-80 mb-0">
              It's time to see and hear the change that has been made around
              campus. lets see how many lives have been saved and changed!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- STEPS
    ================================================== -->
<div class="position-relative">
  <div class="shape shape-top shape-fluid-x shape-flip-x svg-shim text-black">
    <svg viewBox="0 0 2880 250" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 0h2880v125h-720L720 250H0V0z" fill="currentColor"></path>
    </svg>
  </div>
</div>

<!-- STEPS
    ================================================== -->
<div class="position-relative">
  <div class="shape shape-top shape-fluid-x shape-flip-x svg-shim text-black">
    <img src="{% static 'images/shapes/angles/angle-top.svg' %}" alt="." />
  </div>
</div>

<!-- ABOUT
    ================================================== -->
<section>
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-12 col-md-6 col-lg-5 order-md-2">
        <!-- Image grid -->
        <!-- prettier-ignore -->
        <div class="d-flex flex-column w-md-130 mb-6 mb-md-0">
          <img
            class="img-fluid rounded shadow align-self-start"
            data-jarallax-element="-20"
            src="{% static 'images/screenshots/ui/analytics-2.png' %}"
            alt="..."
            style="min-height: 1px; max-width: 50%; margin-left: 40%"
          />
          <img
            class="img-fluid rounded shadow align-self-start"
            data-jarallax-element="-50"
            src="{% static 'images/screenshots/ui/analytics-1.png' %}"
            alt="..."
            style="min-height: 1px; max-width: 50%; margin-top: -35%"
          />
          <img
            class="img-fluid rounded shadow align-self-center"
            data-jarallax-element="-80"
            src="{% static 'images/screenshots/ui/analytics-3.png' %}"
            alt="..."
            style="min-height: 1px; max-width: 50%; margin-top: -20%"
          />
        </div>
      </div>
      <div class="col-12 col-md-6 order-md-1 pt-md-12">
        <!-- Heading -->
        <h1>Powerful metrics to better understand your business.</h1>

        <!-- Text -->
        <p class="font-size-lg text-gray-700 mb-6">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
          vehicula auctor ornare. Nulla non ullamcorper tellus. Vestibulum
          pulvinar eros nec tortor maximus, iaculis rutrum nibh mollis.
        </p>

        <!-- List -->
        <div class="row">
          <div class="col-12 col-lg-6">
            <!-- Item -->
            <div class="d-flex">
              <!-- Check -->
              <div
                class="badge badge-rounded-circle badge-success-soft mt-1 mr-4"
              >
                <i class="fe fe-check"></i>
              </div>

              <!-- Text -->
              <p class="text-success">Real-time data</p>
            </div>

            <!-- Item -->
            <div class="d-flex">
              <!-- Check -->
              <div
                class="badge badge-rounded-circle badge-success-soft mt-1 mr-4"
              >
                <i class="fe fe-check"></i>
              </div>

              <p class="text-success mb-lg-0">FDIC Insured</p>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <!-- Item -->
            <div class="d-flex">
              <!-- Check -->
              <span
                class="badge badge-rounded-circle badge-success-soft mt-1 mr-4"
              >
                <i class="fe fe-check"></i>
              </span>

              <!-- Text -->
              <p class="text-success">End-to-end encryption</p>
            </div>

            <!-- Item -->
            <div class="d-flex">
              <!-- Check -->
              <div
                class="badge badge-rounded-circle badge-success-soft mr-1 mr-4"
              >
                <i class="fe fe-check"></i>
              </div>

              <!-- Text -->
              <p class="text-success mb-0">REST API enabled</p>
            </div>
          </div>
        </div>
        <!-- / .row -->
      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container -->
</section>

<!-- ABOUT
    ================================================== -->
<section class="py-8 py-md-11">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-12 col-md-6 img-skewed img-skewed-right">
        <!-- Code -->
        <div
          class="card rounded-lg bg-black mb-6 mb-md-0 img-skewed-item screenshot"
        >
          <div class="card-header border-white-10">
            <!-- Controls -->
            <div class="d-flex">
              <span
                class="bg-danger rounded-circle"
                style="width: 10px; height: 10px"
              ></span>
              <span
                class="bg-warning rounded-circle ml-1"
                style="width: 10px; height: 10px"
              ></span>
              <span
                class="bg-success rounded-circle ml-1"
                style="width: 10px; height: 10px"
              ></span>
            </div>
          </div>
          <div class="card-body">
            <!-- Code -->
            <code
              class="highlight"
              data-toggle="typed"
              data-options='{"backSpeed":2, "strings": ["&gt;&nbsp;$&nbsp;npm&nbsp;install<br/><span class=\"text-success\">Everything&nbsp;is&nbsp;installed</span><br/><br/>&gt;&nbsp;$&nbsp;gulp<br/><span class=\"text-success\">scss&nbsp;watching</span><br/><span class=\"text-success\">LiveReload&nbsp;started</span><br/><span class=\"text-success\">Opening&nbsp;localhost:3000</span><br/><br/>&gt;&nbsp;$&nbsp;that&#x2019;s&nbsp;it<br/><span class=\"text-success\">Yup,&nbsp;that&#x2019;s&nbsp;it.</span>"]}'
              style="min-height: 183px"
            ></code>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-5">
        <!-- Heading -->
        <h2>Universal access to your data is one of our core values.</h2>

        <!-- Text -->
        <p class="font-size-lg text-gray-700">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
          vehicula auctor ornare. Nulla non ullamcorper tellus.
        </p>
        <!-- Link -->
        <a class="font-weight-bold text-decoration-none" href="#">
          View our API <i class="fe fe-arrow-right ml-3"></i>
        </a>
      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container -->
</section>

<!-- DOWNLOAD
    ================================================== -->
<section class="border-top">
  <div class="container">
    <div class="row justify-content-between align-items-stretch">
      <!-- prettier-ignore -->
      <div class="col-12 col-md-6 py-8 py-md-13">
        <h2>Corporate cards available on iOS and Android.</h2>
        <p class="font-size-lg text-gray-700 mb-7">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
          vehicula auctor ornare. Nulla non ullamcorper tellus. Vestibulum
          pulvinar eros nec tortor maximus, iaculis rutrum nibh mollis.
        </p>
        <a class="text-reset d-inline-block mr-1" href="#">
          <img
            src="{% static 'images/buttons/button-app.png' %}"
            class="img-fluid"
            alt="..."
            style="max-width: 155px"
          />
        </a>
        <a class="text-reset d-inline-block" href="#">
          <img
            src="{% static 'images/buttons/button-play.png' %}"
            class="img-fluid"
            alt="..."
            style="max-width: 155px"
          />
        </a>
      </div>
      <div class="col-12 col-md-5">
        <!-- prettier-ignore -->
        <div
          class="position-relative h-100 vw-50 bg-cover"
          style="background-image: url({%static 'images/covers/cover-18.jpg' %})"
        >
          <!-- Shape -->
          <div class="shape shape-left shape-fluid-y svg-shim text-white">
            <img
              src="{% static 'images/shapes/angles/angle-left-white.svg' %}"
              alt="."
            />
          </div>
        </div>
      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container -->
</section>

<!-- INTEGRATIONS
    ================================================== -->
<section class="bg-black">
  <div class="container py-8 py-md-13">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 text-center">
        <!-- Pre-heading -->
        <h6 class="text-uppercase text-warning">Integrations</h6>

        <!-- Heading -->
        <h1 class="font-weight-bold text-white">
          Sync your banking data anywhere.
        </h1>

        <!-- Text -->
        <p class="font-size-lg text-muted mb-9">
          Compliance, financial reviews, tax auditing, and any financial task
          has never been easier.
        </p>
      </div>
    </div>
    <!-- / .row -->
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 text-center">
        <!-- Icon -->
        <div class="icon icon-lg mb-4">
          <img src="{% static 'images/brands/logomark/slack.svg' %}" alt="." />
        </div>

        <!-- Heading -->
        <h3 class="font-weight-bold text-white">Slack</h3>

        <!-- Text -->
        <p class="text-muted mb-8">
          Sync your team's work and activity to share automatically in a channel
          with a simple plugin.
        </p>
      </div>
      <div class="col-12 col-md-6 col-lg-4 text-center">
        <!-- Icon -->
        <div class="icon icon-lg mb-4">
          <img
            src="{% static 'images/brands/logomark/mailchimp.svg' %}"
            alt="."
          />
        </div>

        <!-- Heading -->
        <h3 class="font-weight-bold text-white">Mailchimp</h3>

        <!-- Text -->
        <p class="text-muted mb-8 mb-lg-0">
          Communicate important messages to your users through Landkit using
          Mailchimp as the delivery service.
        </p>
      </div>
      <div class="col-12 col-md-6 col-lg-4 text-center">
        <!-- Icon -->
        <div class="icon icon-lg mb-4">
          <img
            src="{% static 'images/brands/logomark/dropbox.svg' %}"
            alt="."
          />
        </div>

        <!-- Heading -->
        <h3 class="font-weight-bold text-white">Dropbox</h3>

        <!-- Text -->
        <p class="text-muted mb-8 mb-md-0">
          Sync any file store to Dropbox for automated sharing with people
          outside the company.
        </p>
      </div>
      <div class="col-12 col-md-6 col-lg-4 text-center">
        <!-- Icon -->
        <div class="icon icon-lg mb-4">
          <img
            src="{% static 'images/brands/logomark/google-drive.svg' %}"
            alt="."
          />
        </div>

        <!-- Heading -->
        <h3 class="font-weight-bold text-white">Google Drive</h3>

        <!-- Text -->
        <p class="text-muted mb-8 mb-lg-0">
          Sync any file store to Google Drive for automated sharing with people
          outside the company.
        </p>
      </div>
      <div class="col-12 col-md-6 col-lg-4 text-center">
        <!-- Icon -->
        <div class="icon icon-lg mb-4">
          <img
            src="{% static 'images/brands/logomark/google-ad-manager.svg' %}"
            alt="."
          />
        </div>

        <!-- Heading -->
        <h3 class="font-weight-bold text-white">Google Ad Manager</h3>

        <!-- Text -->
        <p class="text-muted mb-8 mb-md-0">
          Easily manage and edit any Adwords campaign inline to improve ROI with
          constant review.
        </p>
      </div>
      <div class="col-12 col-md-6 col-lg-4 text-center">
        <!-- Icon -->
        <div class="icon icon-lg mb-4">
          <img
            src="{% static 'images/brands/logomark/atlassian.svg' %}"
            alt="."
          />
        </div>

        <!-- Heading -->
        <h3 class="font-weight-bold text-white">Atlassian</h3>

        <!-- Text -->
        <p class="text-muted mb-0">
          Keep your entire team in sync with development and easily manage
          tasks, goals, and deadlines.
        </p>
      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container -->
</section>


{% endblock %}
